html
    head
        title Weather Details of #{city}
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet")
        style(type="text/css").
           li:hover {
                background-color: #c1d0e8
            }
            
    body(class='p-3')
        h1(class='text-center m-2' style='font-variant:small-caps') Weather Details of #{city}
        ul(class='list-group list-group-flush p-3')
                li(class='list-group-item')
                    strong Temperature: #{det.main.temp}
                li(class='list-group-item')
                    strong Feels Like: #{det.main.feels_like}
                li(class='list-group-item')
                    strong Minimum Temperature: #{det.main.temp_min}
                li(class='list-group-item')
                    strong Maximum Temperature: #{det.main.temp_max}
                li(class='list-group-item')
                    strong Pressure: #{det.main.pressure}
                li(class='list-group-item')
                    strong Humidity: #{det.main.humidity}              
